
.thumbnails-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 400px;
  margin: auto;
  justify-content: center;
}

.gallery-container {
  position: relative;
  max-width: 400px;
min-height: 300px;
padding-bottom: 20px;
}

.row img{
  max-height: 200px;
}

.row {
  width: 100%; 
  display: flex;
  justify-content: center; 
}

.mySlides {
  display: none;
}


.demo.cursor {
  cursor: pointer;
  opacity: 0.6;
}

.demo.cursor:hover, .demo.cursor.active {
  opacity: 1;
}

.caption-container {
  text-align: center;
  background-color: #8C74AD;
  color: white;
  padding: 10px 0px;
}
