

/* Base Theme Styles - ensures default colors are set before any theme is selected */
html {
  --color-primary: #e7deef;
  --color-secondary: #dcd1e8;
  --color-accent: #8c74ad;
  --color-nav: ##DCD1E8;
  --color-background: #f1ebf5;
  --color-lighter-dark-mode: #f1ebf5;
  --color-text: #563182;
  --color-text-secondary: #000000;
  --color-text-lighter: #fff;
  --color-pink: #D1008A;
  --color-text-purple: #563182;
  --color-icons: #ad9cc5;
  --text-background: transparent;
}

/* Light Theme */
html[data-theme="light"] {
  --color-primary: #e7deef;
  --color-secondary: #b8a6cc;
  --color-accent: #8c74ad;
  --color-nav: #dcd1e8;
  --color-background: #f1ebf5;
  --color-lighter-dark-mode: #f1ebf5;
  --color-text: #563182;
  --color-text-secondary: #563182;
  --color-text-lighter: #fff;
  --color-pink: #D1008A;
  --color-text-purple: #563182;
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%)
}

/* Dark Theme */
html[data-theme="dark"] {
  --color-primary: #28184F;
  --color-secondary: #846BA0;
  --color-accent: #8C74AD;
 --color-nav: #402A69;
  --color-background: #211142;
  --color-lighter-dark-mode: #28184F;
  --color-text: #FFFFFF;
  --color-text-secondary: #FFFFFF;
  --color-text-lighter: #FFFFFF;
  --color-pink: #D1008A;
  --color-text-purple: #563182;
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%)

}

/* Nature Theme */
html[data-theme="nature"] {
  --color-primary: #4a7c59;
  --color-secondary: #a58f68;
  --color-accent: #2d472c;
  --color-nav: #2d472c;
  --color-background: #abccae;
  --color-text: #e8f5e9;
  --color-lighter-dark-mode: #e8f5e9; 
  --color-text-secondary: #2d472c; 
  --color-text-purple: #2d472c;
  --button-bg-color: linear-gradient(
    90deg,
    #4a7c59 0%,
    #2d472c 100%
  );
  --linear-gradient: linear-gradient(180deg, #4a7c59 0%, #2d472c 64.58%);
  --button-hover-box-shadow: 0 0 30px #a58f68;
  --background-image: url('../themeSwitcherTest/patterns/18.png');
  --text-background: var(--color-primary);

}



html[data-theme="neon"] {
  --color-primary: #FF3EA5; 
  --color-secondary: #4BFF36;
  --color-accent: #FFEF06;
  --color-nav: #4BFF36;
  --color-background: #211951; 
  --color-text: #27005D; 
  --color-text-secondary: #27005D;
  --color-lighter-dark-mode: #101010;
  --color-text-lighter: #101010;
  --button-bg-color: linear-gradient(
    90deg,
    #FF3EA5 0%,
    #27005D 100%
  );
  --linear-gradient: linear-gradient(180deg, #4BFF36 0%, #FF3EA5 65.58%);
  --button-hover-box-shadow: 0 0 30px #a58f68;

  --background-image: url('../themeSwitcherTest/patterns/21.png');


}


/* Pink Theme */
html[data-theme="pink"] {
  --color-primary: #ffc0cb;
  --color-secondary: #ff69b4;
  --color-accent: #FF3EA5;
  --color-background: #f2cfd5;
  --color-nav: #f9aebb;
  --color-lighter-dark-mode: #fff0f5; 
 
  --button-bg-color: linear-gradient(
    90deg,
    #ffc0cb 0%,
    #FF3EA5 100%
  );
  --linear-gradient: linear-gradient(180deg, #ff69b4 0%, #FF3EA5 64.58%);
  --button-hover-box-shadow: 0 0 30px #FF3EA5;


  --color-text: #7c0089;
  --color-text-lighter: #fff;
  --color-text-secondary: #7c0089;

  --background-image: url('../themeSwitcherTest/patterns/20.png');





}

/* Black Theme */
html[data-theme="black"] {
  --color-primary: #222222;   
  --color-secondary: #333333;     
  --color-accent: #444444;     
  --color-nav: #5b5b5b;    
  --color-background: #121212;   
  --color-lighter-dark-mode: #121212; 
  --color-text: #ffffff;          
  --color-text-secondary: #ffffff; 
  --color-text-purple: #ffff;
  --color-text-purple: #e8f5e9;
  --button-bg-color: linear-gradient(
    90deg,
    #5b5b5b 0%,
    #121212 100%
  );
  --linear-gradient: linear-gradient(180deg, #5b5b5b 0%, #444444 64.58%);
  --button-hover-box-shadow: 0 0 30px #fff;

}




/* White Theme */
html[data-theme="white"] {
  --color-primary: #eceaea;
  --color-secondary: #bebebe;
  --color-accent: #222222;
  --color-background: #ffffff98;
  --color-text: #222222;
  --color-nav: #dddddd; 
  --color-lighter-dark-mode: #ffffff; 
  --color-text-secondary: #222222; 
  --color-text-purple: #222222;
  --button-bg-color: linear-gradient(
    90deg,
    #c6c4c4 0%,
    #222222 100%
  );
  --linear-gradient: linear-gradient(180deg, #c6c4c4 0%, #222222 64.58%);
  --button-hover-box-shadow: 0 0 30px #ffffff;

}

/* Pastel Theme */
html[data-theme="pastel"] {
  --color-primary: #D1EBC9;
  --color-secondary: #FDCEDF;
  --color-accent: #d5bdaf; 
  --color-nav: #c8b6ff; 
  --color-background: #FFF3DA; 
  --color-lighter-dark-mode: #F7D9C4; 
  --color-text: #2b2622; 
  --color-text-secondary: #222222; 
  --color-text-lighter: #2b2622; 
  --color-pink: #EEA5A6; 
  --color-text-purple: #22222;
  --button-hover-box-shadow: 0 0 30px #a58f68;
  --button-bg-color: linear-gradient(
    90deg,
    #D1EBC9 0%,
    #c8b6ff 100%
  );
  --linear-gradient: linear-gradient(180deg, #ffd6ff 0%, #c8b6ff 64.58%);
--button-text-color: var(--color-text-lighter);
--background-image: url('../themeSwitcherTest/patterns/19.png');

}

main {
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: 2000px;
  background-position: center;
}

  
  #logo path{
    fill: var(--color-text);
  }
  
  .dark #alternate-logo path{
    fill: var(--color-text);
  }

  .footer__logo path {
    fill: var(--color-text-lighter);
  }

  .footer__social-media path {
    fill: var(--color-text-lighter);
  }

  .navbar__logo--small path{
    fill: var(--color-text);
  }



/* Light Theme */
.day-primary {
  background-color: #e7deef;
}

.day-secondary {
  background-color: #dcd1e8;
}

.day-accent {
  background-color: #8c74ad;
}

/* Dark Theme */
.night-primary {
  background-color: #28184F;
}

.night-secondary {
  background-color: #846BA0;
}

.night-accent {
  background-color: #8C74AD;
}

/* Nature Theme */
.nature-primary {
  background-color: #4a7c59;
}

.nature-secondary {
  background-color: #a58f68;
}

.nature-accent {
  background-color: #2d472c;
}

/* Pink Theme */
.pink-primary {
  background-color: #ffc0cb;
}

.pink-secondary {
  background-color: #ffadea;
}

.pink-accent {
  background-color: #d1008a;
}

/* Pastel Theme */
.pastel-primary {
  background-color: #f3e5f5;
}

.pastel-secondary {
  background-color: #fde7f3;
}

.pastel-accent {
  background-color: #b3e5fc;
}

/* Black Theme */
.black-primary {
  background-color: #333333;
}

.black-secondary {
  background-color: #444444;
}

.black-accent {
  background-color: #555555;
}

/* White Theme */
.white-primary {
  background-color: #ffffff;
}

.white-secondary {
  background-color: #f0f0f0;
}

.white-accent {
  background-color: #dddddd;
}

/* Neon Theme */
.neon-primary {
  background-color: #0db9d7;
}

.neon-secondary {
  background-color: #21d07a;
}

.neon-accent {
  background-color: #f368e0;
}







.theme-display img {
  height: 60px;
}

/* Base style for the theme display area */
.theme-display {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-right: 2em;
}

.theme-picker {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 430px; 
  white-space: nowrap;
  z-index: 1000;
  background-color: #2b2b2b;
}

.theme-display:hover .theme-picker {
  display: flex;
  flex-wrap: wrap; 
  width: 100px;
  justify-content: center;
  align-content: center;
}

.theme-picker.open {
  display: flex;
  flex-wrap: wrap; 
  width: 100px;
  justify-content: center;
  align-content: center;
}

/* Theme option styling */
.theme-option {
  position: relative;
  display: inline-block;
  padding: 10px;
  transition: opacity 0.3s, transform 0.3s; 
  text-align: center;
}

.theme-option img {
  width: 30px; 
  height: 30px;
  display: flex; 
  justify-content: center;
  align-content: center;
  margin: auto;
}

.theme-option .theme-name {
  display: none; 
  margin-top: 15px; 
  color: whitesmoke;
}

.theme-option .color-preview {
  display: none;
  width: 40px;
  height: 40px;
}

.theme-option:hover .theme-name,
.theme-option:hover .color-preview {
  display: flex;
  justify-content: center;
}

.color-preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: auto;
}



.theme-option:hover img {
  transform: scale(1.5); 
}











/* Additional hover effects to preview theme colors 
.theme-option[data-theme="light"]:hover {
  background-color: var(--color-text);
}

.theme-option[data-theme="dark"]:hover {
  background-color: var(--color-text); 
}

.theme-option[data-theme="nature"]:hover {
  background-color: var(--color-text); 
}

.theme-option[data-theme="pink"]:hover {
  background-color: var(--color-text);
}

.theme-option[data-theme="pastel"]:hover {
  background-color: var(--color-text);
}

.theme-option[data-theme="black"]:hover {
  background-color: var(--color-text); 
}

.theme-option[data-theme="white"]:hover {
  background-color: var(--color-text); 
}

.theme-option[data-theme="neon"]:hover {
  background-color: transparent; 
}*/