

/* Base Theme Styles - ensures default colors are set before any theme is selected */
html {
  /* Text Colors */
  --text-color-primary: #563182;
  --text-color-secondary: #563182;
  --text-color-tertiary: #fff;
  --text-color-purple: #563182;
  --text-color-pink: #D1008A;

  /* Background Colors */
  --background-color-primary: #f1ebf5;
  --background-color-secondary: #dcd1e8;
  --background-color-tertiary: #f1ebf5;

  /* Accent Colors */
  --accent-color-primary: #e7deef;
  --accent-color-secondary: #b8a6cc;
  --accent-color-tertiary: #8c74ad;

  /* Navigation and Button Colors */
  --nav-color: #dcd1e8;
  --button-bg-color: linear-gradient(90deg, #e7deef 0%, #b8a6cc 100%);
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%);

  --text-color-primary: #563182;
  --background-color-primary: #f1ebf5;

  --text-color-secondary: #563182;
  --background-color-secondary: #dcd1e8;

  --text-color-tertiary: #fff;
  --background-color-tertiary: #8c74ad;

  --accent-color-primary: #e7deef;
  --accent-color-secondary: #b8a6cc;
  --accent-color-tertiary: #8c74ad;

  --nav-color: #dcd1e8;
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%)
}

/* Light Theme */
html[data-theme="light"] {
  --text-color-primary: #563182;
  --background-color-primary: #f1ebf5;

  --text-color-secondary: #563182;
  --background-color-secondary: #dcd1e8;

  --text-color-tertiary: #fff;
  --background-color-tertiary: #8c74ad;

  --accent-color-primary: #e7deef;
  --accent-color-secondary: #b8a6cc;
  --accent-color-tertiary: #8c74ad;

  --nav-color: #dcd1e8;
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%)
}

/* Dark Theme */
html[data-theme="dark"] {
  --text-color-primary: #FFFFFF;
  --background-color-primary: #211142;

  --text-color-secondary: #FFFFFF;
  --background-color-secondary: #402A69;

  --text-color-tertiary: #FFFFFF;
  --background-color-tertiary: #846BA0;

  --accent-color-primary: #28184F;
  --accent-color-secondary: #846BA0;
  --accent-color-tertiary: #8C74AD;

  --nav-color: #402A69;
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%)
}

/* Nature Theme */
html[data-theme="nature"] {
  --text-color-primary: #e8f5e9;
  --background-color-primary: #abccae;

  --text-color-secondary: #e8f5e9;
  --background-color-secondary: #a58f68;

  --text-color-tertiary: #e8f5e9;
  --background-color-tertiary: #4a7c59;

  --accent-color-primary: #7BA484;
  --accent-color-secondary: #a58f68;
  --accent-color-tertiary: #4a7c59;

  --nav-color: #4a7c59;
  --button-bg-color: linear-gradient(
    90deg,
    #4a7c59 0%,
    #2d472c 100%
  );
  --linear-gradient: linear-gradient(180deg, #4a7c59 0%, #2d472c 64.58%);
  --button-hover-box-shadow: 0 0 30px #a58f68;
  --background-image: url('../themeSwitcherTest/patterns/18.png');
  --text-background: var(--color-primary);

}



html[data-theme="neon"] {
  --text-color-primary: #211951;
  --background-color-primary: #211951;

  --text-color-secondary: #211951;
  --background-color-secondary: #4BFF36;

  --text-color-tertiary: #101010;
  --background-color-tertiary: #ff54af;

  --accent-color-primary: #4BFF36;
  --accent-color-secondary: #ff54af;
  --accent-color-tertiary: #FFEF06;

  --nav-color: #fb53ad;
  --button-bg-color: linear-gradient(90deg, #FF3EA5 0%, #27005D 100%);
  --linear-gradient: linear-gradient(180deg, #4BFF36 0%, #FF3EA5 65.58%);
  --button-hover-box-shadow: 0 0 30px #a58f68;

  --background-image: url('../themeSwitcherTest/patterns/21.png');


}


/* Pink Theme */
html[data-theme="pink"] {
  --text-color-primary: #7c0089;
  --background-color-primary: #f2cfd5;

  --text-color-secondary: #7c0089;
  --background-color-secondary: #f9aebb;

  --text-color-tertiary: #fff;
  --background-color-tertiary: #ff69b4;

  --accent-color-primary: #ffc0cb;
  --accent-color-secondary: #fe9ece;
  --accent-color-tertiary: #FF3EA5;

  --nav-color: #f9aebb;
  --button-bg-color: linear-gradient(90deg, #ffc0cb 0%, #FF3EA5 100%);
  --linear-gradient: linear-gradient(180deg, #ff69b4 0%, #FF3EA5 64.58%);

  --background-image: url('../themeSwitcherTest/patterns/20.png');





}

/* Black Theme */
html[data-theme="black"] {
  --text-color-primary: #ffffff;
  --background-color-primary: #121212;

  --text-color-secondary: #ffffff;
  --background-color-secondary: #333333;

  --text-color-tertiary: #ffffff;
  --background-color-tertiary: #444444;

  --accent-color-primary: #222222;
  --accent-color-secondary: #333333;
  --accent-color-tertiary: #444444;

  --nav-color: #5b5b5b;
  --button-bg-color: linear-gradient(90deg, #5b5b5b 0%, #121212 100%);
  --linear-gradient: linear-gradient(180deg, #5b5b5b 0%, #444444 64.58%);
  --button-hover-box-shadow: 0 0 30px #fff;

}




/* White Theme */
html[data-theme="white"] {
  --text-color-primary: #222222;
  --background-color-primary: #ffffff98;

  --text-color-secondary: #222222;
  --background-color-secondary: #dddddd;

  --text-color-tertiary: #ffffff;
  --background-color-tertiary: #bebebe;

  --accent-color-primary: #eceaea;
  --accent-color-secondary: #bebebe;
  --accent-color-tertiary: #959595;

  --nav-color: #dddddd;
  --button-bg-color: linear-gradient(90deg, #c6c4c4 0%, #222222 100%);
  --linear-gradient: linear-gradient(180deg, #c6c4c4 0%, #222222 64.58%);
  --button-hover-box-shadow: 0 0 30px #ffffff;

}

/* Pastel Theme */
html[data-theme="pastel"] {
  --text-color-primary: #2b2622;
  --background-color-primary: #FFF3DA;

  --text-color-secondary: #2b2622;
  --background-color-secondary: #FDCEDF;

  --text-color-tertiary: #2b2622;
  --background-color-tertiary: #D1EBC9;

  --accent-color-primary: #D1EBC9;
  --accent-color-secondary: #FDCEDF;
  --accent-color-tertiary: #d5bdaf;

  --nav-color: #c8b6ff;
  --button-bg-color: linear-gradient(90deg, #D1EBC9 0%, #c8b6ff 100%);
  --linear-gradient: linear-gradient(180deg, #ffd6ff 0%, #c8b6ff 64.58%);
--background-image: url('../themeSwitcherTest/patterns/19.png');
}

body {
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: 1000px;
  background-position: center;
}

  
  #logo path{
    fill: var(--text-color-primary);
  }
  
  .dark #alternate-logo path{
    fill: var(--text-color-primary);
  }

  .footer__logo path {
    fill: var(--text-color-tertiary);
  }

  .footer__social-media path {
    fill: var(--text-color-tertiary);
  }

  .navbar__logo--small path{
    fill: var(--text-color-primary);
  }



/* Light Theme */
.day-primary {
  background-color: #e7deef;
}

.day-secondary {
  background-color: #dcd1e8;
}

.day-accent {
  background-color: #8c74ad;
}

/* Dark Theme */
.night-primary {
  background-color: #28184F;
}

.night-secondary {
  background-color: #846BA0;
}

.night-accent {
  background-color: #8C74AD;
}

/* Nature Theme */
.nature-primary {
  background-color: #4a7c59;
}

.nature-secondary {
  background-color: #a58f68;
}

.nature-accent {
  background-color: #2d472c;
}

/* Pink Theme */
.pink-primary {
  background-color: #ffc0cb;
}

.pink-secondary {
  background-color: #ffadea;
}

.pink-accent {
  background-color: #d1008a;
}

/* Pastel Theme */
.pastel-primary {
  background-color: #f3e5f5;
}

.pastel-secondary {
  background-color: #fde7f3;
}

.pastel-accent {
  background-color: #b3e5fc;
}

/* Black Theme */
.black-primary {
  background-color: #333333;
}

.black-secondary {
  background-color: #444444;
}

.black-accent {
  background-color: #555555;
}

/* White Theme */
.white-primary {
  background-color: #ffffff;
}

.white-secondary {
  background-color: #f0f0f0;
}

.white-accent {
  background-color: #dddddd;
}

/* Neon Theme */
.neon-primary {
  background-color: #0db9d7;
}

.neon-secondary {
  background-color: #21d07a;
}

.neon-accent {
  background-color: #f368e0;
}







.theme-display img {
  height: 60px;
}

/* Base style for the theme display area */
.theme-display {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-right: 2em;
}

.theme-picker {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 430px; 
  white-space: nowrap;
  z-index: 1000;
  background-color: #2b2b2b;
}

.theme-display:hover .theme-picker {
  display: flex;
  flex-wrap: wrap; 
  width: 100px;
  justify-content: center;
  align-content: center;
}

.theme-picker.open {
  display: flex;
  flex-wrap: wrap; 
  width: 100px;
  justify-content: center;
  align-content: center;
}

/* Theme option styling */
.theme-option {
  position: relative;
  display: inline-block;
  padding: 10px;
  transition: opacity 0.3s, transform 0.3s; 
  text-align: center;
}

.theme-option img {
  width: 30px; 
  height: 30px;
  display: flex; 
  justify-content: center;
  align-content: center;
  margin: auto;
}

.theme-option .theme-name {
  display: none; 
  margin-top: 15px; 
  color: whitesmoke;
}

.theme-option .color-preview {
  display: none;
  width: 40px;
  height: 40px;
}

.theme-option:hover .theme-name,
.theme-option:hover .color-preview {
  display: flex;
  justify-content: center;
}

.color-preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: auto;
}



.theme-option:hover img {
  transform: scale(1.5); 
}











/* Additional hover effects to preview theme colors 
.theme-option[data-theme="light"]:hover {
  background-color: var(text-color-primary);
}

.theme-option[data-theme="dark"]:hover {
  background-color: var(text-color-primary); 
}

.theme-option[data-theme="nature"]:hover {
  background-color: var(text-color-primary); 
}

.theme-option[data-theme="pink"]:hover {
  background-color: var(text-color-primary);
}

.theme-option[data-theme="pastel"]:hover {
  background-color: var(text-color-primary);
}

.theme-option[data-theme="black"]:hover {
  background-color: var(text-color-primary); 
}

.theme-option[data-theme="white"]:hover {
  background-color: var(text-color-primary); 
}

.theme-option[data-theme="neon"]:hover {
  background-color: transparent; 
}*/