*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}


.main-content__section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  width: 80%;
  margin-right:auto;
  margin-left:auto;
  column-gap: 10%;
  grid-template-areas: 
  "a c"
  "b c";
}

.main-content__title {
  grid-area: a;
}

.main-content__text {
  grid-area: b;
}

.main-content__image {
  grid-area: c;
}