* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
/* Light Mode CSS */
  --color-primary: #e7deef;
  --color-secondary: #dcd1e8;
  --color-accent: #8c74ad;
  --color-nav: #dcd1e8;
  --color-background: #f1ebf5;
  --color-lighter-dark-mode: #f1ebf5;
  --color-text: #563182;
  --color-text-secondary: #000000;
  --color-text-lighter: #fff;
  --color-pink: #D1008A;
  --color-text-purple: #563182;


  /* Light Theme Typography */
  /* Font Families */
  --font-logo: "Audiowide";
  --font-heading-primary: "Audiowide";
  --font-slogan: "Audiowide";
  --font-heading-secondary: "Orbitron";
  --font-button: "Press Start 2P";
  --font-base: "Roboto Condensed";

  /* Font Sizes */
  --font-size-logo: 25px;
  --font-size-heading-primary: 20px;
  --font-size-slogan: 20px;
  --font-size-heading-secondary: 18px;
  --font-size-button: 22px;
  --font-size-base: 18px;
  --font-weight: 400;

  /* Primary Button Styles */
  --button-primary-height: 70px;

  /* Secondary Button Styles */
  --button-secondary-height: 75px;

  /* Common Button Properties */
  --button-font-family: "Press Start 2P";
  --button-text-color: #ffffff; /* Text color */
  --button-bg-color: linear-gradient(
    90deg,
    #d1008a 0%,
    #563182 100%

  ); /* Background color */
  --button-font-size: var(--font-size-button); 
  --button-border-radius: 0px; 
  --button-transition: background-color 1s, color 1s; 
  --button-border: 0; /* Border */
  --button-hover-box-shadow: 0 0 30px #e60073;
  --button-hover-transition: all 0.2s ease-in-out;
  --button-hover-animation: glow 1s ease-in-out infinite alternate;
  --button-text-transform: uppercase;
  --button-cursor: pointer;
  --button-margin: auto;

  --central-align: center;

  --spacing-inner: 40px;
}



/* Dark Mode CSS */
.dark {
  --color-primary: #28184F;
  --color-secondary: #846BA0;
  --color-accent: #8C74AD;
 --color-nav: #402A69;
  --color-background: #211142;
  --color-lighter-dark-mode: #28184F;
  --color-text: #FFFFFF;
  --color-text-secondary: #FFFFFF;
  --color-text-lighter: #FFFFFF;
  --color-pink: #D1008A;
}

.dark #logo path{
  fill: white;
}

.dark #alternate-logo path{
  fill: var(--color-text);
}