@import url(root.css);

/* This is for trying to implement my root into an html file */

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background: var(--color-background);
  margin: 0px auto;
  box-sizing: border-box;
  transition: background-color 1s ease, color 2s ease;
}

main {
  margin: auto;
}

h1,
h2,
h3,
p {
  max-width: 75ch;
}

h1 {
  font-family: var(--font-heading-primary);
  font-size: 35px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: auto;
}

h2 {
  font-family: var(--font-heading-secondary);
  padding-top: 40px;
}

h3 {
  font-family: var(--font-heading-secondary);
  font-size: 25px;
}

p {
  font-size: 24px;
}

a {
  text-decoration: none;
}

section {
  padding-bottom: 40px;
}

.cart-icon {
  background: transparent;
  border: none;
  fill: white;
}

#cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#cart-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-secondary);
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
}

.cart-item-count {
  color: var(--color-text);
  font-size: 18px;
}





#cart-container h2 {
  margin-top: 0;
}

#cart-list {
  list-style: none;
  padding: 10px;
}

#cart-list li {
  margin-bottom: 10px;
}

#cart-total {
  font-weight: bold;
}

.close-cart-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  font-size: 60px;
  cursor: pointer;
  color: #fff;
}

#go-to-checkout-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#go-to-checkout-btn:hover {
  background-color: #45a049;
}



#product-container {
width: 100%;
}



.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}



.cart-item img {
  width: 50px;
  height: auto;
}

.cart-item-title,
.cart-item-price {
  margin: 0;
}

#cart-overlay.visible {
  display: block;
}





.toggle-handle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  overflow: visible;
}

.dark-mode-icon, .light-mode-icon {
  position: absolute;
  transition: transform 1s ease, opacity 0.6s ease 0.1s; 
}

.dark-mode-icon {
  top: -6px;
  left: 37px;
  transform: translateX(-100%);
  opacity: 0; 
  width: 48px;
  height: 48px;
}

.light-mode-icon {
  top: -20px;
  left: -20px;
  width: 75px;  
  height: 75px;
  transform: translateX(0); 
  opacity: 1;
}

.toggle-checkbox:checked + .toggle-label .dark-mode-icon {
  transform: translateX(0); 
  opacity: 1; 
}

.toggle-checkbox:checked + .toggle-label .light-mode-icon {
  transform: translateX(100%);
  opacity: 0;
}

/* Hide the checkbox visually */
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Set background color for dark mode */
.toggle-checkbox:checked + .toggle-label .toggle-handle {
  background-color: #402A69;
}

/* Set background color for light mode */
.toggle-checkbox + .toggle-label .toggle-handle {
  background-color: #AD9CC5;
}

.no-transition,
.no-transition * {
  transition: none !important;
}





.review-card {
  background: var(--color-accent);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  min-width: 300px;
  margin: 60px auto;
}

.review-icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-name {
  margin: 0;
  color: white;
   margin-top: 20px;
}

.review-stars {
margin: auto;
  color: white;
}

.review-text {
  margin: auto;
  color: white;
  text-align: center;
  font-size: 20px;
}





.faq-item {
  margin-bottom: 20px;
}

.question {
  background-color: var(--color-secondary);
  padding: 10px;
  cursor: pointer;
}

.answer {
  display: none;
  padding: 10px;
}

.answer.show {
  display: block;
}



.original-price,
.original-price-smaller {
    text-decoration: line-through;
    color: var(--color-text-purple);
    margin-right: 5px; 
}

.discounted-price,
.discounted-price-smaller {
  background-color: var(--color-accent);
  padding: 3px 5px;
  width: fit-content;
  font-weight: bold;
  border-radius: 8px;
  color: var(--color-text-lighter);
}

.original-price-smaller,
.discounted-price-smaller,
.small-game-card-right p{
font-size: 20px;
}





.similar-games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1em;
  column-gap: 1em;
}

.small-game-card {
  display: flex;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin: 1em 0;
  align-items: center; 
  justify-content: space-between;
  padding: 8px;
  flex-grow: 1;
  flex-basis: 0; 
  max-width: 600px;
}


.small-game-card-left img {
  max-height: 100px;
  height: auto;
}

.small-game-card-middle {
  flex-grow: 1; 
  padding: 0 10px; 
  overflow-wrap: break-word;
  max-width: 300px;
text-align: center;
margin-top: 0;
  display: flex;
flex-direction: column;
align-self: flex-start;
}

.small-game-card-middle p {
  font-size: 20px;
}


.small-game-card-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 10px;
  min-width: 140px;
  row-gap: 20px;
}

.small-game-card-right a {
  margin-bottom: 0;
  margin-right: 0;
}



.button--small {
  padding: 0px 10px;
  line-height: 40px;
  height: 40px;
  border-radius: 10px;
  max-width: fit-content;
}

.button--small p {
  font-size: 10px;
}





.button--add_to_cart {
  display: flex;
  flex-direction: row;
  font-family: var(--button-font-family);
  color: var(--button-text-color);
  background: var(--button-bg-color);
  transition: var(--button-transition);
  border: var(--button-border);
  cursor: var(--button-cursor);
  margin: var(--button-margin);
  padding: 0px 12%;
  line-height: 60px;
  height: 60px;
  border-radius: 14px;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: 0;
}

.button--add_to_cart:hover {
  box-shadow: var(--button-hover-box-shadow);
  transition: var(--button-hover-transition);
  animation: var(--button-hover-animation);
}

.button--add_to_cart p {
  font-size: 14px;
}

.button--add_to_cart svg {
  display: flex;
  line-height: 60px;
  align-self: center;
  margin-right: 0;
  height: 30px;
}

.genre-button {
  border: 2px solid var(--color-accent);
  padding: 1em 2.2em;
  border-radius: 2em;
  background-color: transparent;
  color: var(--color-text);
  font-family: var(--font-heading-primary);
  cursor: pointer;
  margin: 1em 1em 0em 0em;
}


.genre-button.selected {
  background-color: var(--color-accent);
  color: #ffffff;
}

#genre-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0em;
}


.tab-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--color-lighter-dark-mode);
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
}

.tab-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0px;
  row-gap: 1em;
  align-content: center;
  justify-content: space-between;
}

.tab-title {
  background: none;
  border: none;
  padding: 5px;
  margin-right: 40px;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-text);
  font-family: var(--font-heading-secondary);
}

.tab-title.active {
  border-bottom: 2px solid var(--color-pink);
}

.tab-content {
  display: none;
line-height: 1.5;
}

.tab-content.active {
  display: block;
}

.spinner-container {
  display: flex;
  position: relative;
  height: 100%;  
  width: 100%;   
  align-items: center; 
  justify-content: center; 
  z-index: 100;
}

.spinner {
  width: 200px; 
  height: 200px; 
}


#loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: relative;
}

.page-loader {
  max-width: 100px;
}

.hidden-until-loaded {
  display: none;
}

::placeholder {
  color: #fff;
  opacity: 0.75;
}

.social-media__icons-smaller svg {
  height: 70%;
  margin-top: 30px;
}

.social-media__icons-dark svg {
  fill: var(--color-accent);
}

.footer__social-media {
  padding: 40px 100px;
}

.header__content {
  max-width: 1200px;
  width: 70%;
  margin: auto;
}

.header__subtitle {
  font-size: 22px;
  padding-top: 20px;
}

.navbar {
  padding: 20px 30px;
  display: flex;
  width: 100%;
}

.navbar__primary {
  background: var(--color-nav);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.hero {
  padding-bottom: 0px; 
}

.navbar__hero {
  display: flex;
  flex-direction: column;
  margin: 35px;
  background: none;
  position: relative;
}

.navbar__hero-list {
  color: #fff;
  font-family: Orbitron;
  list-style: none;
  display: flex;
  gap: 40px;
  margin: auto;
  font-size: 32px;
}

.navbar__hero-list-item a:hover,
.footer__nav-links a:hover {
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}

.navbar__content {
  display: flex;
  align-items: center;
  margin: 0px auto;
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
}

.navbar__logo--small {
  display: none;
}

.navbar__links a,
.navbar__hamburger-links,
.footer__nav-links a {
  text-decoration: none;
  font-size: 30px;
}

.navbar__links a,
.navbar__hamburger-links a {
  color: var(--color-text);
  transition: 0.2 ease-in;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: var(--font-heading-secondary);
  font-size: 22px;
}

.navbar__links a:hover,
.navbar__hamburger-links a:hover,
.breadcrumbs a:hover {
  text-shadow: 0 0 30px var(--color-pink);
}

.active a {
  font-weight: bolder;
}

.active a:hover {
  text-shadow: none;
  animation: none;
  color: currentColor;
}

.navbar__links,
.navbar__hamburger-links {
  display: flex;
  list-style: none;
  gap: var(--spacing-inner);
}

.navbar__checkbox {
  display: none;
}

.navbar__hamburger {
  display: none;
}

#hamburger {
  fill: var(--color-text);
}

.hero__background {
  background-image: url(../../assets/images/hero-image-night-sky.jpg);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0%;
  background-color: #09090c;
  color: #fff;
  height: 550px;
}

.hero__title {
  color: white;
  font-size: 80px;
  line-height: 105px;
  margin-bottom: -0.5%;
  max-width: 100%;
  padding-top: 1em;
}

.hero__subtitle {
  color: white;
  font-size: 35px;
  font-family: Audiowide;
}

.hero__description {
  color: white;
  font-size: 30px;
  font-family: Audiowide;
  line-height: 50px;
  margin: auto;
  text-align: center;
}

.header {
  background: var(--color-primary);
  padding-bottom: 30px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.button {
  font-family: var(--button-font-family);
  color: var(--button-text-color);
  background: var(--button-bg-color);
  font-size: var(--button-font-size);
  transition: var(--button-transition);
  border: var(--button-border);
  text-transform: var(--button-text-transform);
  cursor: var(--button-cursor);
  margin: var(--button-margin);
  font-size: 20px;
  display: block;
}

.button:hover {
  box-shadow: var(--button-hover-box-shadow);
  transition: var(--button-hover-transition);
  animation: var(--button-hover-animation);
}

.button--primary {
  height: var(--button-primary-height);
  padding: 0 100px;
  max-width: fit-content;
  line-height: 70px;
  height: 70px;
  border-radius: 15px;
  margin: 40px auto;
}

.button--secondary {
  height: var(--button-secondary-height);
  line-height: var(--button-secondary-height);
  max-width: fit-content;
  padding: 0 50px;
  border-radius: 15px;
  margin-top: 40px;
}

.button--start {
  margin: -1em auto 2em auto;
}

.button--blog {
  max-width: fit-content;
  padding: 0 300px;
  line-height: 80px;
}

.game-card-button {
  width: 257px;
  height: 60px;
  line-height: 60px;
  border-radius: 1px 1px 5px 5px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  font-size: 14px;
}

.button--form {
  height: 50px;
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  margin: 0%;
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
}

.button-discover {
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.contact-card {
  background-color: var(--color-accent);
  color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  margin: 50px auto;
}

.hero__subtitle {
  padding-top: 0%;
}

.contact-card-title {
  margin: 0%;
  line-height: 2;
  padding-bottom: 20px;
  padding-top: 0%;
}

.no-padding {
  padding: 0%;
}

.contact-card-mid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: max-content;
  gap: 70px;
}

.contact-card-info {
  flex: 1;
}

.contact-card-info-line {
  display: flex;
  gap: 40px;
  padding: 40px 0px;
}

.contact-card-info-line img {
  height: 30px;
}

.contact-card-form {
  text-align: left;
  flex: 1;
}

.form-text-input,
textarea {
  padding: 10px;
  background: none;
  border: none;
  margin-top: 10px;
  color: #fff;
  width: 100%;
  font-family: var(--font-base);
  font-size: 20px;
  word-break: break-all;
  caret-color: var(--color-pink);
  resize: none;
}

.decorative-line--form {
  height: 2px;
  background: white;
  margin-bottom: 50px;
  color: #fff;
}

.form-text-label {
  font-family: var(--font-base);
  font-size: 22px;
  padding-bottom: 10px;
}

.bigger {
  padding: 40px 5px;
}

.blog-carousel,
.footer {
  background-color: var(--color-accent);
  color: var(--color-text-lighter);
}

.decorative-line {
  height: 2px;
  background: white;
  margin-top: 40px;
}

.social-media__icons {
  display: flex;
  gap: 50px;
  padding: 40px;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.social-media__icons a {
  margin: auto;
}

.footer__nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 125px;
  justify-content: center;
  padding: 60px;
  font-size: 35px;
  align-items: center;
}

.footer__nav-links-division {
  display: flex;
  gap: 125px;
}

.background-primary {
  background: var(--color-primary);
}

.trending-games-wrap {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  flex-wrap: wrap;
  gap: 50px;
}

.main-content__section {
  max-width: 1200px;
  margin: 50px auto;
  width: 90%;
}

.main-content__section-80 {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: white;
}

.all-games-wrap {
  display: flex;
  gap: 80px;
  padding: 50px 0px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1800px;
}

.game-card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  background: var(--color-secondary);
  border-radius: 5px;
  max-width: 260px;
  padding: 2px;
}

.game-card-text-flex {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  gap: 10px;
  text-align: center;
  padding: 20px 10px;
  color: var(--color-text);
}

.game-image {
  object-fit: cover;
  width: 100%;
}

.game-card-title {
  font-size: 20px;
  text-transform: uppercase;
}

.game-card-price {
  font-size: 20px;
  font-family: var(--font-base);
}

.testimonials-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
}

.testimonial-card {
  background: linear-gradient(180deg, #d1008a 0%, #563182 64.58%);
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: fit-content;
  min-width: 300px;
  min-height: 350px;
  padding: 10px 0px;
  border-radius: 10px;
  margin: 100px 40px 100px 40px;
}

.testimonial-card-icon {
  position: absolute;
  top: -70px;
  place-self: center;
}

.testimonial-card-text {
  color: white;
  display: flex;
  padding: 30px;
  padding-top: 80px;
  text-align: center;
  margin: auto;
  max-width: 400px;
}

.show-more-cards {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#show-more-cards {
  scroll-margin-top: 500px;
}

#show-more-cards:target {
  display: flex;
}

.show-more-cards a {
  order: 2;
}

#show-more-cards:target + #show-more-button {
  display: none;
}

.testimonial-card-mini {
  background: linear-gradient(180deg, #d1008a 0%, #563182 64.58%);
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 300px;
  border-radius: 10px;
  margin: 50px 0px;
}

.blog-carousel-wrap {
  display: flex;
  width: 100%;
  gap: 50px;
  padding: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  background: #dcd1e8;
  border-radius: 10px;
  max-width: 350px;
  padding: 20px;
}

.blog-post-title {
  font-size: 22px;
  color: var(--color-text-purple);
  display: flex;
  margin-top: 15px;
}

.button--blog {
  padding-left: 5%;
  padding-right: 5%;
  height: 80px;
  border-radius: 15px;
}

.blog-carousel {
  padding: 50px 0px;
}

.breadcrumbs {
  padding-top: 130px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  background: var(--color-primary);
  display: flex;
  flex-direction: row;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0 auto;
  width: 70%;
  padding-left: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
}

.breadcrumbs__item {
  font-size: 20px;
  color: var(--color-text);
}

.breadcrumbs__list li:not(:first-child)::before {
  content: " > ";
  padding: 0 5px;
  color: var(--color-text);
  font-size: 22px;
}

.game-page-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 30px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.game-page-pictures {
  display: flex;
  justify-content: flex-start;
}

.game-page-primary,
.game-page-text,
.game-page-secondary {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: left;
  margin-left: 0;
}

.game-page-text {
  padding-top: 5%;
  margin-bottom: 0;
  margin-top: 0;
}

.game-page-primary {
  background-color: var(--color-primary);
  padding: 30px;
  border-radius: 15px;
  justify-content: flex-start; 
  row-gap: 10px;
}

.game-page-primary h1{
  margin-top: 0; 
  padding-top: 0; 
}



.game-brag {
  background-color: var(--color-secondary);
  display: flex;
  border-radius: 10px;
  margin-top: 5%;
  max-width: 300px;
}

.game-brag-text {
  color: var(--color-text);
  padding-left: 30px;
  align-self: center;
  font-size: 18px;
}

#star {
  width: 40px;
  padding-left: 5px;
  padding-top: 5px;
}

#controller {
  height: 40px;
  padding-left: 5px;
}

.info-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 3em;
  flex-wrap: wrap;
  row-gap: 2em;
  width: 100%;
  background-color: var(--color-secondary);
  padding: 20px 20px;
}

.info-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.info-icons img{
  height: 50px;
}

.info-icons p{
  font-size: 18px;
  max-width: 80px;
  text-align: center;
}

.blog-post {
  padding-left: 100px;
  width: 90%;
}

article {
  padding: 50px 0px;
  max-width: 90%;
  margin: auto;
}

.aside {
  background: var(--color-primary);
  padding: 40px;
}

aside img {
  width: 100%;
}

.blog-post-section {
  display: flex;
  flex-direction: row-reverse;
  max-width: 80%;
  margin: auto;
  justify-content: center;
}

.image-right {
  flex-direction: row-reverse;
}

.image-left {
  flex-direction: row;
}

.blog-post-image {
  height: auto;
  width: 100%;
  max-width: 850px;
  margin: 0% 0%;
  max-height: 500px;
}

.blog-post-p {
  margin: 5% 0%;
}

.blog-post-p li {
  list-style: circle;
  font-size: 22px;
}

.blog-post-quiz li {
  list-style: upper-latin;
  font-size: 22px;
  padding: 4%;
}

.blog-post-secondary {
  display: flex;
  justify-content: center;
  margin: auto;
}

.about-card-secondary {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  gap: 50px;
  flex-wrap: wrap;
}

.aside-secondary {
  display: flex;
  max-width: 100%;
  padding: 20px;
  background: var(--color-secondary);
}

.aside-secondary img {
  max-height: 200px;
  max-width: 200px;
  flex: 1;
}

.aside__content-secondary {
  display: flex;
  margin: auto;
}

.aside__content-secondary-text {
  display: flex;
  flex-direction: column;
  padding: 5%;
  flex: 2;
}

.blog-post-question {
  margin-top: 5%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.blog-page-wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.blog-page-card {
  display: flex;
  background: var(--color-primary);
  border-radius: 18px;
  margin: 30px 0px;
  padding: 8px;
}

.blog-page-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 2;
}

.blog-page-title {
  text-align: left;
  padding: 20px 25px;
  color: var(--color-text);
}

.blog-page-title:hover {
  text-decoration: underline;
}

.blog-page-paragraph {
  padding: 10px 25px;
}

.blog-page-image {
  flex: 3;
  height: auto;
  max-width: 500px;
}

.about-us-wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.about-card {
  display: flex;
  max-width: 1200px;
  margin: 100px auto;
  gap: 5%;
}

.about-card-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  max-width: 550px;
  max-width: 75ch;
}

.about-card__title {
  padding: 0px 0px;
  margin-top: 0%;
  margin-bottom: 20px;
}

.about-card-paragraph {
  padding: 10px 35px;
  max-width: 55ch;
  align-items: flex-start;
}

.about-card-image {
  flex: 1;
  height: auto;
  max-height: 500px;
  max-width: 500px;
}

.game-of-the-month {
  background-color: #020204;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.game-of-the-month h2 {
  color: #fff;
  margin: 0%;
}

.game-of-the-month img {
  display: flex;
  max-width: 1440px;
  align-self: center;
  width: 100%;
}

.slogan {
  font-family: Audiowide;
  font-size: 30px;
  text-align: center;
  margin: 50px auto;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar__hamburger-links,
.navbar__hamburger {
  order: 1;
}

.navbar__logo {
  order: 2;
}


.navbar__links {
  order: 3;
}

.cart-icon {
  order: 4;
}

@media screen and (max-width: 650px) {
  .navbar,
  .navbar-primary {
    width: 100%;
    padding: 10px 0px;
  }

  .hero__title {
    font-size: 60px;
  }

  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 0;
    width: 90%;
  }

  .navbar__logo--small {
    display: block;
    display: flex;
    order: 2;
    text-align: center;
    padding: 0%;
    margin: auto;
    justify-content: center;
    padding-left: 0px;
  }

  #alternate-logo {
    fill: var(--color-text);
  }

  .navbar__logo {
    display: none;
  }

  .navbar__hamburger,
  .navbar__hamburger-white {
    order: 1;
    display: block;
  }

  #hamburger,
  #hamburger-white {
    -webkit-transform: scaleX(1, 1);
    transform: scaleX(1);
  }

  .navbar__links {
    display: none;
  }

  .header__content {
    width: 85%;
    margin: auto;
  }

  .breadcrumbs {
    padding-top: 95px;
    padding-bottom: 20px;
  }

  .breadcrumbs__list {
    width: 90%;
  }

  .header {
    height: fit-content;
  }

  .blog-page-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
  }

  .footer__nav-links {
    flex-direction: column;
    row-gap: 40px;
    display: flex;
  }

  .footer__nav-links li:nth-child(3) {
    order: -1;
  }

  .social-media__icons {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
  }

  .about-us-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
  }

  .about-card {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 0px;
    margin: 20px auto;
    width: 100%;
  }

  .about-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    place-self: center;
    padding-bottom: 30px;
  }

  .about-card-title {
    text-align: center;
    color: var(--color-text);
  }

  .about-card-paragraph {
    padding: 10px 35px;
    max-width: 75ch;
  }

  .about-card-image {
    height: auto;
    place-self: center;
  }

  .main-content {
    width: 80%;
  }

  .contact-card {
    padding: 30px;
    margin: 50px auto;
  }

  .contact-card-info-line {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-card-info-line img {
    height: 15%;
    width: 15%;
    margin: auto;
  }

  .button--form {
    margin: auto;
  }
}

#hamburger-white {
  fill: #fff;
}

.navbar__hamburger-white {
  display: block;
}

.navbar__hamburger-links {
  display: none;
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
  .navbar__hero-list {
    font-size: 28px;
  }

  .navbar__hamburger-links {
    display: none;
  }

  .navbar {
    padding: 10px;
  }

  .navbar__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 95%;
    row-gap: 20px;
  }

  .navbar__logo {
    padding-right: 0%;
    display: none;
  }

  .navbar__logo--small {
    display: block;
    padding-top: 10px;
  }

  .breadcrumbs {
    padding-bottom: 0px;
    padding-top: 110px;
  }

  .breadcrumbs__list {
    width: 90%;
  }

  .main-content {
    width: 90%;
  }

  .main-content__section {
    width: 90%;
  }

  .blog-page-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
  }

  .footer__nav-links {
    row-gap: 40px;
    display: flex;
  }

  .footer__nav-links li:nth-child(3) {
    order: -1;
  }

  .social-media__icons {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
  }

  .header__content {
    width: 85%;
    margin: auto;
  }

  .blog-page-text {
    flex: 1;
  }

  .blog-page-title {
    text-align: left;
  }

  .blog-page-image {
    flex: 1;
    height: auto;
  }

  .about-us-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .about-card {
    display: flex;
    margin: 100px 0px;
  }

  .about-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1, 5;
  }

  .about-card-title {
    text-align: center;
    padding: 20px 20px;
    color: var(--color-text);
  }

  .about-card-paragraph {
    padding: 10px 35px;
    max-width: 65ch;
  }

  .about-card-image {
    flex: 1;
    height: auto;
    max-height: max-content;
    max-width: 400px;
  }
}

@media screen and (max-width: 850px) {
  .about-us-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 100px;
  }

  .navbar__hamburger-links {
    display: none;
  }

  .about-card {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px 0px;
    margin: 40px auto;
    width: 100%;
  }

  .about-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    place-self: center;
    padding-bottom: 30px;
  }

  .about-card-title {
    text-align: center;
    color: var(--color-text);
  }

  .about-card-paragraph {
    padding: 10px 35px;
    max-width: 75ch;
  }

  .about-card-image {
    height: auto;
    place-self: center;
    max-width: 100%;
  }

  .footer__nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav-links li:nth-child(2) {
    order: -1;
  }

  .footer__nav-links-division {
    gap: 50px;
  }

  .button--primary {
    font-size: 16px;
    padding: 0 5%;
  }

  .main-content__section {
    margin: auto;
  }

  .navbar__hamburger-links,
  .navbar__hamburger-white {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #navbar-toggle:checked ~ .navbar__hamburger-links {
    display: flex;
  }

  .navbar__hamburger-links {
    display: none;
  }

  #navbar-toggle:checked ~ .navbar__hamburger-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--color-secondary);
  }

  #navbar-toggle:checked + .navbar__hamburger-white {
    display: block;
  }

  .navbar__hero-list {
    display: none;
  }
}

@media (max-width: 800px) {
  .game-page-primary,
  .game-page-text,
  .game-page-secondary {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: left;
    margin: 0 0 0 0;
  }
}

@media (max-width: 1200px) {
  .game-page-pictures img {
    max-width: 100%;
  }

  .footer__nav-links-division {
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    place-self: center;
  }

  .blog-post-section {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    margin: auto;
    justify-content: center;
  }

  .blog-post-image {
    margin: 5% auto;
  }

  .blog-post {
    padding: 50px 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .aside {
    display: flex;
    max-width: 100%;
    padding: 20px;
    background: var(--color-secondary);
  }

  .aside img {
    max-height: 200px;
    max-width: 200px;
    flex: 1;
  }

  .aside__content {
    display: flex;
    margin: auto;
  }
  .aside__content-text {
    display: flex;
    flex-direction: column;
    padding: 5%;
    flex: 2;
  }
}

/* HAMBURGER */
#navbar-toggle:checked ~ .navbar__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--color-secondary);
}

#navbar-toggle:checked + .navbar__hamburger {
  display: block;
}

.navbar__logo--small {
  z-index: 3;
}

/* HAMBURGER */
#navbar-toggle:checked ~ .navbar__hamburger-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--color-secondary);
}

#navbar-toggle:checked + .navbar__hamburger-white {
  display: block;
}

@media (max-width: 1000px) {
  .tab-titles {
  justify-content: space-evenly;
  padding-top: 10px;
}


.game-page-primary,
.game-page-text,
.game-page-secondary {
  max-width: 1000px;
}
}

@media (max-width: 500px) {
  .tab-titles {
  flex-direction: column;
  padding-top: 10px;
  align-content: flex-start;
}

  .tab-title {
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.tab-container {
  padding-top: 0;
}
}
