/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --clr-background: #ffffff;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/unsplash_ln5drpv_ImIhero-section-universe.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  margin: 0%;
  height: 740px;
  width: 100vw;
  background-color: #09090c;
  color: #fff;
}

.hero-topnav {
  display: flex;
  padding: 70px 457px 75px 457px;
  justify-content: flex-end;
  gap: 40px;
}

.hero-topnav a {
  color: #fff;
  font-family: Orbitron;
  font-size: 25px;
}

.hero-topnav a:hover {
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}

.hero h1 {
  color: white;
  font-size: 80px;
  line-height: 105px;
  margin-top: 0%;
  margin-bottom: -0.5%;
  font-weight: 400;
}

.hero h2 {
  margin-top: 0%;
  color: white;
  font-size: 30px;
  font-family: Audiowide;
  font-weight: 400;
}

.hero p {
  color: white;
  font-size: 30px;
  font-family: Audiowide;
  line-height: 50px;
  padding-top: 150px;
  padding-bottom: 0%;
}

.START {
  width: 200px;
  margin: 40px;
}

.game-of-the-month {
  background-color: #09090c;
  padding-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.game-of-the-month h2 {
  color: #fff;
}

.game-of-the-month img {
  display: flex;
  width: 80vw;
  max-width: 1440px;
  align-self: center;
}

.slogan {
  font-family: Audiowide;
  font-size: 30px;
}

@media (min-width: 600px) {
}
