@import url(root.css);

/* This is for trying to implement my root into an html file */

body {
    font-family: var(--theme-light-font-base);
    color: var(--theme-light-color-text);
    background: var(--theme-light-color-background);
    margin: 0px auto;
    box-sizing: border-box;
}

main {
    margin: auto;
}

h1, h2, h3, p {
max-width: 75ch;
}

h1 {
    font-family: var(--theme-light-font-heading-primary);
    font-size: 35px;
}

h1, h2, h3{
    text-align: center;
    margin: auto;
}

h2, h3 {
    font-family: var(--theme-light-font-heading-secondary);
    font-size: 25px;
}

h2 {
    padding-top: 40px;
}

p {
    font-size: 22px;
}

a {
    text-decoration: none;
}

section {
    padding-bottom: 40px;
}

::placeholder {
    color: #FFF;
    opacity: 1;
}

.social-media__icons-smaller svg{
    height: 70%;
}


.footer__social-media {
    padding: 40px 100px;
}

.header__content {
    max-width: 1200PX;
    width: 70%;
    margin: auto;
}

.navbar {
    padding: 30px;
    display: flex;
    width: 100%;
}

.navbar__primary {
    background: var(--theme-light-color-secondary);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}



.navbar__hero {
    background: none;
    position: relative;
}


.navbar__content {
    display: flex;
    align-items: center;
    margin: 0px auto;
    max-width: 1500px;
    width: 90%;
    justify-content: space-between;
}

.navbar__logo {
    padding-right: 100px;
}

.navbar__logo--small {
    display: none;
}

.navbar__links a,
.footer__nav-links a{
    text-decoration: none;
    font-size: 24px;
}

.navbar__links a {
    color: var(--theme-light-color-text);
}



.navbar__links {
    display: flex;
    list-style: none;
    gap: var(--spacing-inner);
}

.navbar__checkbox {
    display: none;
}

.navbar__hamburger {
    display: none;
}

#hamburger {
    fill: var(--theme-light-color-text);
}

.hero__background {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/images/hero-image-night-sky.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0%;
    height: 600px;
    width: 100vw;
    background-color:#09090c;
    color: #FFF;
  }

  .navbar__hero {
    display: flex;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
  }

  .navbar__hero-list {
    color: #FFF;
    font-family: Orbitron;
    font-size: 25px;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .navbar__hero-list-item {
    font-size: 35px;
  }

  .navbar__hero-list-item a:hover {
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
  }

  .hero__title {
    color: white;
    font-size: 80px;
    line-height: 105px;
    margin-bottom: -0.5%;
  }

  .hero__subtitle {
    color: white;
    font-size: 35px;
    font-family: Audiowide;
  }

  .hero__description {
    color: white;
    font-size: 30px;
    font-family: Audiowide;
    line-height: 50px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }


.header {
    background: var(--theme-light-color-primary);
    padding-bottom: 30px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.button {
    font-family: var(--button-font-family);
    color: var(--button-text-color);
    background: var(--button-bg-color);
    font-size: var(--button-font-size);
    transition: var(--button-transition);
    border: var(--button-border);
    text-transform: var(--button-text-transform);
    cursor: var(--button-cursor);
    margin: var(--button-margin);
    font-size: 22px;
    display: block;
}


.button:hover {
    box-shadow: var(--button-hover-box-shadow);
    transition: var(--button-hover-transition);
    animation: var(--button-hover-animation);
}

.button--primary {
    height: var(--button-primary-height);
    padding: 0 100px;
    max-width: fit-content;
    line-height: 70px;
    height: 70px;
    border-radius: 15px;
}



.button--secondary {
    height: var(--button-secondary-height);
    line-height: var(--button-secondary-height);
    max-width: fit-content;
    padding: 0 50px;
    border-radius: 15px;
    margin-top: 40px;
}

.button--blog {
    max-width: fit-content;
    padding: 0 300px;
    line-height: 80px;
}

.game-card-button {
    width: 299px;
    height: 70px;
    line-height: 70px;
    border-radius: 1px 1px 5px 5px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.button--form {
    height: 50px;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin: 0%;
    margin-top: 20px;
}

.button-discover {
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}





.contact-card {
    background-color: var(--theme-light-color-accent);
    color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.contact-card-title {
    margin: 0%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.contact-card-mid-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.contact-card-info {
flex: 1;
}

.contact-card-form {
    text-align: left;
    flex: 1;
}

.form-text-input, textarea {
    padding: 10px;
    background: none;
    border: none;
    margin-top: 10px;
    color: #FFF;
    width: 100%;
    font-family: var(--theme-light-font-base);
    font-size: 20px;
    word-break: break-all;
}

.decorative-line-form {
    height: 2px;
    background: white;
    margin-bottom: 50px;
}

.form-text-label {
    font-family: var(--theme-light-font-base);
    font-size: 22px;
    padding-bottom: 10px;
}

.bigger {
    padding: 40px 5px;
}





.blog-carousel, .footer {
    background-color: var(--theme-light-color-accent);
    color: var(--theme-light-color-text-lighter);
}

.decorative-line {
    height: 2px;
    background: white;
    margin-top: 40px;
}

.social-media__icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    vertical-align: middle;

}

.footer__nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 125px;
    justify-content: center;
    padding: 60px;
    font-size: 35px;
}

.footer__nav-links-division {
    display: flex;
    gap: 125px;
}


.background-primary {
    background: var(--theme-light-color-primary);
}


.trending-games-wrap {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    gap: 50px;
}


.main-content__section {
    max-width: 1200px;
    margin: 0 auto;
}

.main-content__section-80 {
    width: 80%;
    margin: auto;
    max-width: 1000px;
}





  a {
    text-decoration: none;
    color: white;
  }

  .all-games-wrap {
    display: flex;
    gap: 80px;
    padding: 50px 0px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1800px;
  }

  .game-card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    background: #DCD1E8;
    border-radius: 5px;
    max-width: 300px;
    padding: 2px;
  }

  .game-card-text-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    gap: 10px;
    text-align: center;
    padding: 20px 10px;
  }

  .game-image {
    object-fit: cover;
    width: 100%;
  }

  .game-card-title {
    font-size: 20px;
    text-transform: uppercase;
  }

  .game-card-price {
    font-size: 20px;
    font-family: var(--theme-light-font-base);
  }


  .testimonials-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
  }

  .testimonial-card {
    background: linear-gradient(180deg, #D1008A 0%, #563182 64.58%);
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: fit-content;
    min-width: 400px;
    border-radius: 10px;
    margin: 100px 40px 100px 40px;
  }

  .testimonial-card-icon {
    position: absolute;
    top: -70px;
    place-self: center;
  }

  .testimonial-card-text {
    color: white;
    display: flex;
    padding: 30px;
    padding-top: 80px;
    text-align: center;
    margin: auto;
    max-width: 400px;
  }



  .show-more-cards {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#show-more-cards {
    scroll-margin-top: 500px;
}

#show-more-cards:target {
    display: flex;
}

.show-more-cards a {
    order: 2;
}

#show-more-cards:target + #show-more-button {
    display: none;
}

.testimonial-card-mini {
    background: linear-gradient(180deg, #D1008A 0%, #563182 64.58%);
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px;
    border-radius: 10px;
    margin: 50px 0px;
}



  .blog-carousel-wrap {
    display: flex;
    width: 100%;
    gap: 50px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    background: #DCD1E8;
    border-radius: 10px;
    max-width: 350px;
    padding: 20px;
  }


  .blog-post-title {
    font-size: 22px;
    color: var(--theme-light-color-text);
    display: flex;
    margin-top: 15px;
  }

  .button--blog {
    padding-left: 5%;
    padding-right: 5%;
    height: 80px;
    border-radius: 15px;
  }

  .blog-carousel {
    padding: 50px 0px;
  }

  .breadcrumbs {
    padding-top: 130px;
    padding-bottom: 25px;
    margin-bottom: 0px;
    background: var(--theme-light-color-primary);
  }

  .breadcrumbs__list {
    list-style: none;
    margin: 0 auto;
    width: 70%;
    padding-left: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
  }

  .breadcrumbs__item {
    font-size: 20px;
    color: var(--theme-light-color-text);
  }


  .breadcrumbs__list li:not(:first-child)::before {
    content: " > ";
    padding: 0 5px;
    color: var(--theme-light-color-text);
    font-size: 22px;
  }

  .game-page-top-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .game-page-pictures {
    display: flex;
    justify-content: flex-start;
  }

  .game-page-primary,
  .game-page-text,
  .game-page-secondary {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
  }

  .game-page-primary {
    margin: auto;
  }


  .game-brag {
    background-color: var(--theme-light-color-secondary);
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
    min-width: 300px;
  }

  .game-brag-text {
    color: var(--theme-light-color-text);
  }



.blog-post {
    padding: 50px 100px;

}


.aside {
    background: var(--theme-light-color-primary);
    padding: 40px;
}

aside img {
    width: 100%;
}

.blog-post-section {
    display: flex;
    flex-direction: row-reverse;
    max-width: 80%;
    margin: auto;
    justify-content: center;
}


.image-right {
    flex-direction: row-reverse;
}

.image-left {
    flex-direction: row;
}


.blog-post-image {
    max-width: 60%;
    height: auto;
    width: 100%;
    max-width: 850px;
}

.blog-page-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.blog-page-card {
    display: flex;
    background: var(--theme-light-color-primary);
    border-radius: 18px;
    margin: 30px 0px;
    padding: 8px;
}



.blog-page-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 2;
}

.blog-page-title {
    text-align: left;
    padding: 20px 25px;
    color: var(--theme-light-color-text);
}

.blog-page-title:hover{
    text-decoration: underline;
}

.blog-page-paragraph {
    padding: 10px 25px;
}

.blog-page-image {
    flex: 3;
    height: auto;
}









.about-us-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.about-card {
    display: flex;
    max-width: 1200px;
    margin: 100px auto;
    padding-top: 0%;

}



.about-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1,5;
    max-width: 550px;
    max-width: 75ch;
}

.about-card-title {
    padding: 0px 0px;
    margin-top: 0%;
    margin-bottom: 20px;
    color: var(--theme-light-color-text);
}

.about-card-paragraph {
    padding: 10px 35px;
    max-width: 55ch;
    align-items: flex-start;
}

.about-card-image {
    flex: 1;
    height: auto;
    max-height: 500px;
    max-width: 500px;
}












.game-of-the-month {
      background-color:#020204;
      padding-top: 50px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      padding-top: 100px;
    }

.game-of-the-month h2 {
      color: #FFF;
      margin: 0%;
    }

.game-of-the-month img {
      display: flex;
      max-width: 1440px;
      align-self: center;
      width: 100%;
    }

.slogan {
      font-family: Audiowide;
      font-size: 30px;
      text-align: center;
      margin: 50px auto;
    }




        .navbar__content {
            display: flex;
            align-items: center; /* This aligns items vertically in the center */
            justify-content: space-between; /* This separates the logo and hamburger menu on two ends */
        }

        .navbar__logo {
            order: 1;
        }
        .navbar__hamburger {
            order: 2;
        }
        .navbar__links {
            order: 3; /* This makes sure the links come after the hamburger menu when they are displayed */
        }













@media screen and (max-width: 650px) {
            
    .navbar,
    .navbar-primary {
        width: 100%;
        padding: 10px 0px;
    }

            .navbar__content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                row-gap: 0;
                width: 90%;
            }
        
            .navbar__logo--small {
                display: block;
                display: flex;
                order: 2;
                text-align: center;
                padding: 0%;
                margin: auto;
                justify-content: center;
                padding-left: 75px;
            }

            #alternate-logo {
                fill: var(--theme-light-color-text);
            }

            .navbar__logo {
                display: none;
            }
        
            .navbar__hamburger {
                order: 3;
                display: block;
            }

            #hamburger {
                -webkit-transform: scaleX(-1, 1);
                transform: scaleX(-1);
            }
        
            .navbar__links {
                display: none;
            }
    

            .header__content {
                width: 85%;
                margin: auto;
            }

            .breadcrumbs {
                padding-top: 95px;
                padding-bottom: 20px;
            }

            .breadcrumbs__list {
                width: 90%;
            }

            .header {
                height: fit-content;
            }

            .blog-page-card {
                display: flex;
                flex-direction: column;
                max-width: 400px;
                margin: 30px auto;
            }
        
        
            .footer__nav-links {
                flex-direction: column;
                row-gap: 40px;
                display: flex;
            }
        
            .footer__nav-links li:nth-child(3) {
                order: -1;
            }
        
            .social-media__icons {
                flex-wrap: wrap;
                padding-top: 30px;
                justify-content: flex-start;
                flex-direction: row;
            }


            .about-us-wrap {
                margin: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
            }
            
            .about-card {
                display: flex;
                flex-direction: column-reverse;
                background: var(--theme-light-color-primary);
                padding: 0px 0px;
                margin: 20px auto;
                width: 100%;
            }
            
            
            
            .about-card-text {
                text-align: left;
                display: flex;
                flex-direction: column;
                place-self: center;
                padding-bottom: 30px;
            }
            
            .about-card-title {
                text-align: center;
                color: var(--theme-light-color-text);
            }
            
            
            
            .about-card-paragraph {
                padding: 10px 35px;
                max-width: 75ch;
            }
            
            .about-card-image {
                height: auto;
                place-self: center;
            }

            .main-content {
                width: 90%;
            }

        
        }
        
    
    






        @media (min-width: 651px) and (max-width: 1000px) {

    .navbar {
        padding: 10px;
    }

    .navbar__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        width: 95%;
        row-gap: 20px;
    }

    .navbar__logo {
        padding-right: 0%;
        display: none;
    }

    .navbar__logo--small {
        display: block;
        padding-top: 10px;
    }

    .breadcrumbs {
        padding-bottom: 0px;
        padding-top: 110px;
    }

    .breadcrumbs__list {
        width: 90%;
    }


    .main-content {
        width: 90%;
    }

    .main-content__section {
        width: 90%;
    }

    .blog-page-card {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 30px auto;
    }


    .footer__nav-links {
        flex-direction: column;
        row-gap: 40px;
        display: flex;
    }

    .footer__nav-links li:nth-child(3) {
        order: -1;
    }

    .social-media__icons {
        flex-wrap: wrap;
        padding-top: 30px;
        justify-content: flex-start;
        flex-direction: row;
    }


    .header__content {
        width: 85%;
        margin: auto;
    }


    .blog-page-text {
        flex: 1;
    }

    .blog-page-title {
        text-align: left;
    }

    .blog-page-image {
        flex: 1;
        height: auto;
    }







    .about-us-wrap {
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .about-card {
        display: flex;
        background: var(--theme-light-color-primary);
        margin: 100px 0px;
    }
    
    
    
    .about-card-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex: 1,5;
    }
    
    .about-card-title {
        text-align: center;
        padding: 20px 20px;
        color: var(--theme-light-color-text);
    }
    
    
    
    .about-card-paragraph {
        padding: 10px 35px;
        max-width: 65ch;}
    
    .about-card-image {
        flex: 1;
        height: auto;
        max-height:max-content;
        max-width: 400px;
    }
    

    @media screen and (max-width: 850px) {

        .about-us-wrap {
            margin: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        
        .about-card {
            display: flex;
            flex-direction: column-reverse;
            background: var(--theme-light-color-primary);
            padding: 40px 0px;
            margin: 40px auto;
            width: 100%;
        }
        
        
        
        .about-card-text {
            text-align: left;
            display: flex;
            flex-direction: column;
            place-self: center;
            padding-bottom: 30px;
        }
        
        .about-card-title {
            text-align: center;
            color: var(--theme-light-color-text);
        }
        
        
        
        .about-card-paragraph {
            padding: 10px 35px;
            max-width: 75ch;
        }
        
        .about-card-image {
            height: auto;
            place-self: center;
        }

    }


}


@media (max-width: 1145px) {

    .game-page-primary,
    .game-page-text,
    .game-page-secondary,
    .game-page-pictures {
        margin: auto;
    }

    .footer__nav-links-division {
        display: flex;
        flex-direction: column;
    }

    .footer__logo {
        margin-top: 500px;
        position: relative;
    }

}







